In [2]:
import pandas as pd
import numpy as np

In [12]:
data= pd.read_csv('data.csv',  index_col= 0)

In [13]:
data.shape

(2117219, 6)

In [14]:
data.head(5)

      Name  Year Gender  Count  Name_Ratio  Gender_Name_Ratio
0    Emily  2000      F  25959    6.867840          14.295257
1   Hannah  2000      F  23086    6.107745          12.713136
2  Madison  2000      F  19968    5.282832          10.996097
3   Ashley  2000      F  17998    4.761639           9.911246
4    Sarah  2000      F  17713    4.686238           9.754300